body{
    background-color: whitesmoke;
    font-family: Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
}

.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header ul {
    margin: 0;
    padding: 0;
}

.dark{
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.788);
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}



header{
    background: rgba(0, 0, 0, 0.788);
    color: white;
    padding-top: 30px;
    min-height: 70px;
}

header a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header li{
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

header #branding{
    float: left;
}

header #branding h1{
    margin: 0;
}

header nav{
    float: right;
    margin-top: 10px;
}

header .highlight, header .current a{
    color: rgba(0, 255, 255, 0.555);
    font-weight: bold;
}

header a:hover{
    color: rgba(0, 255, 255, 0.555);
}

#showcase{
    min-height: 400px;
    background: url('../img/pingggu.jpg')  -10px;
    text-align: left;
    color: white;
}

#showcase h1{
    margin-top: 100px;
    font-size: 60px;
    margin-bottom: 10px;
}

#showcase p{
    font-size: 30px;
}

#boxes{
    margin-top: 20px;
}

#boxes .box{
    float: left;
    width: 30%;
    padding: 10px;
    text-align: center;
}

aside#sidebar{
    float: right;
    margin-top: 10px;
    width: 30%;
}

article#main-col{
    float: left;
    width: 65%;
}



footer{
    padding: 20px;
    margin-top: 20px;
    color: white;
    background-color: rgba(0, 0, 0, 0.788);
    text-align: center;
}